html, body {
    margin: 0;
    padding: 0;
}

.hero{
    text-align: center;
    color: white;    
}

.background{
    background-color: #E4D9FF
}

.hero-background{
    border: 1px #30343F solid;
    background-color: #30343F;
}

#tittle{
    padding: 30px 20px 30px 20px ;
    border: 1px #273469 solid;
    background-color: #273469;
    margin: 30px 150px 30px 150px;
    border-radius: 10px;
    width: 400px;
    margin-right: auto;
    margin-left: auto   
}

.about-me{
    text-align: center;
    padding-bottom: 30px;
    border-bottom: 30px #D6D6FF solid
}

#header2{
    border: 1px solid #273469;
    background-color: #273469;
    border-radius: 7px;
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    color: white;
}

#about-txt{
    border: 5px #30343F solid;
    background-color: #D6D6FF;
    color: black;
    margin: 20px 30px 0px 30px;
    border-radius: 7px;
    width: 1400px;
    margin-right: auto;
    margin-left: auto;
    font-size: 25px;
    font-family: 'Noto Serif', serif;
    font-family: 'Signika Negative', sans-serif;
    
    
}

.footer-back{
    background-color: #D6D6FF
}

.abt-background{
    margin-bottom: 0px;
}

.footer{
    text-align: center;
    margin: 0px;
    border-top: 1px solid #D6D6FF;
    padding: 10px 0px 100px 0px;
}

.interests{
    display: flex;
    justify-content: space-around;
    margin: 10px auto 100px auto;
}

.onepiece{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #30343F;
    width: 500px;
    background-color: #30343F;
    border-radius: 7px;
    color: white;
}

#onepiece-img{
    border-radius: 50%;
    width: 200px;
    padding-bottom: 10px;
}

.games{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #30343F;
    width: 500px;
    background-color: #30343F;
    border-radius: 7px;
    color: white;
}

#games-img{
    border-radius: 50%;
    width: 200px;
    padding-bottom: 10px;
}

.codeing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #30343F;
    width: 500px;
    background-color: #30343F;
    border-radius: 7px;
    color: white;
}

#code-img{
    border-radius: 50%;
    width: 200px;
    padding-bottom: 10px;
}

.interests{
    display: flex;
    justify-content: space-around;
}
